* {
    font-family: Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: rgba(0, 0, 0, .3);
    padding-bottom: 10px;
}

.card-image{
    max-width: 15vw;
}

.card-details img {
    max-height: 25px;
}

.card-container {
    border: 2px solid rgb(0,0,0);
    width: max-content;
}