* {
    font-family: "Quicksand", Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #000;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('assets/backgroundImage.jpg');
    background-size: 100vw 100vh;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    filter: brightness(15%) contrast(1.05);
    
}

input {
    cursor: pointer;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

h1 {
    margin: 0;
    font-weight: 600;
}

footer {
    margin-top: auto;
    height: 100px;
    padding-inline: 140px;
    text-align: center;

    display: flex;
    align-items: center;

    background: linear-gradient(90deg, rgba(116, 157, 173, 0.5), rgba(116, 157, 173, 0.7));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .37);
}

.main-header {
    background: linear-gradient(90deg, rgba(116, 157, 173, 0.5), rgba(116, 157, 173, 0.7));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .37);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    margin: 0;
    height: 100px;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.main-header .video-game-icon {
    width: 45px;
    aspect-ratio: 1;
}

.h1-lighter-weight{
    font-weight: 200;
}

.snap-academies-logo {
    height: 45px;
    margin-right: 40px;
}

.search-container {
    position: relative;
}

.search-container img {
    aspect-ratio: 1;
    width: 18px;
    position: absolute;
    
}

#search-icon {
    top: 10px;
    left: 15px;
}

#clearButton {
    top: 10px;
    left: 365px;
    cursor: pointer;
}

.search-container input {
    height: 35px;
    width: 350px;
    cursor: auto;
    padding-left: 40px;
    border-radius: 50px;
    font-weight: 600;
}

.search-container input::placeholder {
    color: #000;
}

.search-container button {
    background-color: transparent;
    height: 35px;
    width: 70px;
    border: 1px solid black;
    border-radius: 6px;
    margin-left: 10px;
}

.search-container button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.sort-filter-button {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .37);

    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 10;
    top: 150px;
    left: -36px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: left 0.3s ease;
}

.sort-filter-button.clicked{
    transition: left 0s;
    left: 0;
}

.sort-filter-button:hover {
    left: 0;
}

.sort-filter-button:hover .rotateText,
.sort-filter-button.clicked .rotateText {
    display: none;
}

.rotateText {
    display: block;
    transform: rotate(-90deg);
    transform-origin: left top;

    font-size: 12px;
    position: absolute;
    top: 42px;
    left: 35px;
}

.sort-filter-button img {
    width: 22px;
    height: 22px;
}

.sort-filter-container {
    display: none;

    padding: 20px;
    width: 250px;

    background: linear-gradient(270deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .37);

    position: fixed;
    top: 145px;
    left: 55px;
    z-index: 10;
}

.sort-filter-heading {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
}

.filter-container {
    margin: 0;
    margin-bottom: 10px;
}

.sort-filter-container hr {
    margin-top: 0;
    border: none;
    border-top: 1px solid black;
    margin-bottom: 20px;
}

.sort-filter-container button {
    background-color: transparent;
    height: 25px;
    border: 1px solid black;
    border-radius: 6px;
}

.sort-filter-container button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.sort-filter-heading-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sort-filter-arrow {
    width: 12px;
    aspect-ratio: 1;
    margin-right: 8px;
    cursor: auto;
}

#publisher-arrow-down,
#platform-arrow-down,
#rating-arrow-down,
#price-arrow-down {
    pointer-events: none;
    display: inline-block;
}

#publisher-arrow-up,
#platform-arrow-up,
#rating-arrow-up,
#price-arrow-up {
    pointer-events: none;
    display: none;
}

.sort-filter-subheading,
fieldset label {
    font-size: 14px;
    
}

.sort-filter-subheading {
    margin-bottom: 16px;
    font-weight: 600;
    width: max-content;
}

.non-collapsible {
    margin-left: 25px;
    margin-top: -5px;
}

.non-collapsible .sort-filter-subheading {
    margin-bottom: 8px;
} 

.non-collapsible select{
    margin-top: -50px;
}

select {
    background-color: transparent;
    height: 25px;
    border: 1px solid black;
    border-radius: 6px;

    cursor: pointer;
}

.checkboxes {
    margin-top: -10px;
    margin-left: 20px;
    width: max-content;
    display: flex;
    flex-direction: column;
}

.checkboxes label {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.card-container {
    background-size: cover;
    width: 600px;
    height: 400px;
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(5deg); }
    50% { transform: translateX(5px) rotate(-5deg); }
    75% { transform: translateX(-5px) rotate(5deg); }
    100% { transform: translateX(0); }
}

.delete-button {
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .37);

    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.delete-button img {
    width: 20px;
    pointer-events: none;
    transition: transform 0.1s ease;
}

.delete-button:hover img{
    animation: shake 0.3s ease;
}

.card-container:hover {
    transform: scale(1.02);
}

.card-container:hover .delete-button{
    opacity: 1;
}

.card-content {
    position: absolute;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .37);
    padding-top: 30px;
    padding-inline: 30px;

    left: 15px;
    top: 30px;
    width: 42%;
    height: 80%;
}

.card-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-rating-container p{
    margin-top: 4px;
    font-size: 12px;
    text-align: center;
}

.card-title {
    margin-top: 0px;
    width: 60%;
    font-weight: 600;
    font-size: 20px;
}

.card-stars {
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: max-content;
}

.card-stars img {
    max-height: 15px;
}

.card-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-details img {
    max-height: 12px;
}

.card-genre-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.card-content hr {
    margin-top: 0;
    border: none;
    border-top: 1px solid black;
    margin-bottom: 12px;
}

.card-genre-container p {
    font-size: 14px;
}

.card-description {
    margin-top: 0px;
    font-size: 14px;
}

.card-price-container {
    margin-top: 10px;
    width: 55px;
    text-align: right;
    position: absolute;
    right: 30px;
}

.card-price-container hr{
    margin-bottom: 5px;
}

.card-price {
    margin-top: 0;
    text-align: right;
}

.collapsible p {
    cursor: pointer;
}

.collapsible div {
    display: none;
}

.collapsible input:checked + div {
    display: block;
}

.price-input-container {
    position: relative;
    margin-left: 25px;
}

.price-input-container label {
    position: absolute;
    top: 8.5px;
    left: 4px;
    font-size: 12px;
}

/* Hacky way of placing divs next to each other */
.right-input {
    margin-left: 80px;
    float: left;
    margin-top: -29.5px;
}

.price-input-container input {
    padding-left: 12px;
    box-sizing: border-box;
    width: 60px;
    height: 30px;
}

input,
input[type="checkbox"] {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
}

.price-input-container input::placeholder {
    color: rgb(0, 0, 0);
}

.all-game-cards {
    margin-top: 200px;
    margin-right: 200px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

footer p {
    font-size: 12px;
}

.add-card-form {
    width: 200px;
    height: 1020px;
    border-radius: 10px;
    padding-top: 20px;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .37);
}

.add-card-form h3 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    width: 80%;
}

.add-card-form button {
    background-color: transparent;
    height: 35px;
    width: 70px;
    border: 1px solid black;
    border-radius: 6px;
}

.add-card-form button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.form-input-container input, 
.form-input-container textarea{
    height: 35px;
    width: 150px;
    padding-top: 14px;
    padding-left: 10px;
    margin-bottom: 25px;
}

.form-input-container textarea {
    resize: none;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 25px;
}

.form-input-container #description{
    height: 175px;
}

.form-input-container {
    position: relative;
    width: max-content;
    height: max-content;
    
}

.form-input-container label {
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    top: 5px;
    left: 10px;
}


@media only screen and (max-width: 767px) {
    .main-header .video-game-icon {
        width: 25px;
    }

    h1 {
        font-size: 14px;
    }

    .snap-academies-logo {
        height: 25px;
        margin-right: 0px;
    }

    .card-container {
        width: 350px;
        height: 400px;
    }

    .card-content {
        width: 75%;
    }

    footer {
        padding-inline: 20px;
    }

    .add-card-form {
        display: none;
    }

    .all-game-cards {
        margin-right: 0;
    }
}

@media only screen and (max-width: 1148px) {
    .main-header {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding-block: 10px;
        padding-left: 0px
    }

    .page-title-container {
        gap: 5px;
    }

    .search-container {
        order: 3;
    }

    .search-container img {
        width: 14px;
    }
    
    #search-icon {
        top: 8px;
    }
    
    #clearButton {
        top: 8px;
        left: 220px;
    }
    
    .search-container input {
        height: 25px;
        width: 200px;
        cursor: auto;
        padding-left: 40px;
        border-radius: 50px;
        font-weight: 600;
    }
    
    .search-container input::placeholder {
        color: #000;
    }
    
    .search-container button {
        background-color: transparent;
        height: 30px;
        width: 70px;
        border: 1px solid black;
        border-radius: 6px;
        margin-left: 10px;
    }
}